body {
  background-color: #fff;
}
.screen-2 {
  padding-top: 10px;
  .nav-pills {
    margin: 0 -15px 20px;
    display: flex;
    flex-flow: row wrap;
    background-color: #fff;
    box-shadow: 0 5px 25px 0 rgba(82, 87, 93, .1);
    .nav-item {
      flex: 1 1;
      .nav-link {
        padding: 0.7em 1em;
        border-radius: 0;
        color: #b8b8b8;
        text-align: center;
        &.active {
          background-color: #391dae;
          color: #fff;
        }
      }
    }
  }
  .custom-file {
    .custom-file-label {
      border: {
        width: 2px;
        color: #685e96;
        radius: 12px;
      };
      color: #685e96;
      text-align: center;
      height: 48px;
      line-height: 36px;
      &::after {
        display: none;
      }
    }
  }
  .full-width {
    border-top: 1px solid #fafbfc;
    padding: 20px;
    margin: {
      left: -15px;
      right: -15px;
    };
    .form-control {
      box-shadow: none;
    }
  }

  .form-screen-2 {
    .btn-submit {
      border: {
        radius: 12px;
        color: #685e96
      }
      background-color: #685e96;
    }
  }
}
