.form-group {
  .form-control {
    padding: 10px 15px;
    background-color: #ffffff;
    border: {
      width: 0;
      radius: 8px;
    };
    box-shadow: 0 5px 25px 0 rgba(82, 87, 93, .1);
  }

  .form-label {
    color: #babbbd;
    font-size: 12px;
  }

  .media {
    position: relative;
    padding-top: 56.25%;
    border-radius: 8px;
    overflow: hidden;
    img {
      position: absolute;
      object-fit: cover;
      width: 100%;
      height: 100%;
      top: 0;
    }
  }
}

.font-dark {
  font-size: 16px !important;
  color: #333 !important;
}


