body {
  background-color: #f9fafc;
  max-width: 375px;
  margin: 0 auto;
}

.wrapper {
  padding-top: 56px;
}

.navbar {
  background-color: #fff;
  box-shadow: 0 9px 45px 0 rgba(0, 0, 0, 0.16);

  &-brand {
    color: #333;
  }
}
